name: PHP Composer

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Run phpUnit code coverage
      run: |
        XDEBUG_MODE=coverage ./vendor/bin/phpunit --coverage-cobertura ./log/coverage-cobertura.xml

    - name: Code Coverage Summary
      # You may pin to the exact commit or the version.
      # uses: irongut/CodeCoverageSummary@51cc3a756ddcd398d447c044c02cb6aa83fdae95
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        # A comma separated list of code coverage files to analyse. Also supports using glob patterns to match multiple files.
        filename: ./log/coverage-cobertura.xml
        # Include a Line Rate coverage badge in the output using shields.io - true / false (default).
        badge: true # optional, default is false
        # Fail if overall Line Rate below lower threshold - true / false (default).
        fail_below_min: true # optional, default is false
        # Output Format - markdown or text (default).
        format: markdown # optional, default is text
        # Hide Branch Rate values in the output - true / false (default).
        hide_branch_rate: false # optional, default is false
        # Hide Complexity values in the output - true / false (default).
        hide_complexity: true # optional, default is false
        # Include health indicators in the output - true (default) / false.
        indicators: true # optional, default is true
        # Output Type - console (default), file or both.
        output: console # optional, default is console
        # Threshold percentages for badge and health indicators, lower threshold can also be used to fail the action.
        thresholds: 50 75 # optional, default is 50 75

    - name: Upload code coverage report
      uses: actions/upload-artifact@v3
      with:
        name: coverage-report
        path: ./log/coverage-cobertura.xml

    - name: Check if coverage file exists
      run: ls -la ./log

